apiVersion: v1
kind: Service
metadata:
  name: {{ include "bentopdf.fullname" . }}
  labels:
    {{- include "bentopdf.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "bentopdf.selectorLabels" . | nindent 4 }}
