apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "price-buddy.fullname" . }}
  labels:
    {{- include "price-buddy.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "price-buddy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "price-buddy.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "price-buddy.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "https://hub.docker.com/jez500/pricebuddy:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.cnpgCluster.enabled }}
            - name: DB_CONNECTION
              value: pgsql
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: price-buddy-cluster-app
                  key: host
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: price-buddy-cluster-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: price-buddy-cluster-app
                  key: password
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: price-buddy-cluster-app
                  key: dbname
            - name: SCRAPER_BASE_URL
              value: http://{{ include "price-buddy.fullname" . }}-scraper:{{ .Values.scraper.service.port | default 3000 }}
            - name: AFFILIATE_ENABLED
              value: "true"
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            - name: dot-env-volume
              mountPath: /app/.env
              subPath: .env
            - name: storage-volume
              mountPath: /app/storage
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        - name: dot-env-volume
          configMap:
            name: {{ include "price-buddy.fullname" . }}-env-config
        - name: storage-volume
          persistentVolumeClaim:
            claimName: {{ template "price-buddy.fullname" . }}-storage-pvc
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
